body {
    /* overflow: hidden; */
    background-image: url("img/wiese.jpg");
    background-size: cover;
    background-position: bottom;
    min-width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(10px);
}

.d-none {
    display: none;
}

.bg-pale {
    background-color: palegoldenrod;
}

.h-100 {
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
}

.card-body {
    padding: 0.5rem;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
    object-position: center;
}


.quiz-card {
    width: 50vw;
    background-color: var(--bs-gray-100);
}

.answer-letter {
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: var(--bs-gray-400);
}

.answer-card {
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.answer-card-hover:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 800px) {
    .quiz-card {
        width: 90vw;
    }

    .card-img-top {
        flex: 1;
        object-fit: cover;
        object-position: center;
    }

    .question-footer {
        display: block;
        text-align: center;
    }
}